<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
    
    <%- include('partials/header.html') %> 
    <div class="jumbotron" id="jumboButtom2">
        <h1 class="display-3" id="jumbo-Title">Book Information</h1>
        <hr class="my-4">
        <div id="alerts"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >Book Title</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Book Title" id="bookTitle">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >Author Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Author Name" id="authorName">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >Genre</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Genre" id="genre">
                </div>
            </div>
            <div class="col-md-6">
                <img  width="230px" height="270px" id="imageBookCover" role="img" >
                </img>
                <div class="form-group">
                    <label for="exampleInputFile">Book Cover</label>
                    <input type="file" class="form-control-file" id="fileImage" accept=".jpg, .jpeg, .png" onchange="loadFile(event)">
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg" id="btn-submit-addBooks">Submit</button>
        </div>
    </div>
    
    <%- include('partials/footer.html') %> 
</body>
</html>