<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
    <%- include('partials/header.html') %> 
    <div class="jumbotron" id="jumboButtom2">
        <h1 class="display-3" id="jumbo-Title">Reader Information</h1>
        <hr class="my-4">
        <div id="alerts"></div>
        <div>
            <div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >First Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Name" id="fname">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >Last Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Last Name" id="lname">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >Email Address</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Email Address" id="email">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" >Phone Number</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Phone Number" id="phone">
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg" id="btn-submit-addCustomers">Submit</button>
        </div>
    </div>
    <%- include('partials/footer.html') %> 
</body>
</html>