<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
    <%- include('partials/header.html') %>
    <div id="jumboButtom2">
        <div>
            <h1 class="display-3" id="jumbo-Title">Rent One of Our Books</h1>
            <hr class="my-4">
            <div class="row" id="bookShow">
              <% if (JSON.parse(book).length > 0){
                for(let i in JSON.parse(book)){ %>
                  <div class="col-md-3">
                    <img id="imageDis" src="/images/bookCover/<%= JSON.parse(book)[i].bookimg %>">
                    <h3><%= JSON.parse(book)[i].booktitle %></h3>
                    <h5><%= JSON.parse(book)[i].bookauthor %></h5>
                    <h6><%= JSON.parse(book)[i].bookGenre %></h6>
                    <td>
                      <button type="button" class="btn btn-warning" onclick="rentedBook(<%= JSON.stringify(JSON.parse(book)[i]) %>)">Rent Book</button>
                    </td>
                </div>
               <% }
              } else{ %> 
                  <div>No data available at this moment</div>  
              <% } %>
          </div>
        </div>
    </div>

    <div class="modal" id="InfoRented">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Rented Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeInfo()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="alerts"></div>
                <div>
                    <h6>Rent Date</h6>
                    <input type="date" id="rentDate">
                </div>
                <div>
                    <h6>Return Date</h6>
                    <input type="date" id="returnDate">
                </div>
                <div>
                    <h6>Reader Name</h6>
                    <div class="input-group">
                      <select class="select2-search__field form-control" aria-label="Default select example" id="readerName">
                        <option value="">Choose...</option>
                        <% for(let i in JSON.parse(customer)) {%> 
                            <option value="<%= JSON.parse(customer)[i].idcustomer %>"><%= JSON.parse(customer)[i].customerfname %> <%= JSON.parse(customer)[i].customerlname %></option>
                        <%}%>
                    </select>
                    </div>
                </div>
                <div>
                    <h6>Book Title</h6>
                    <input type="text" readonly id="bookTitle">
                    <input type="text" readonly id="idbookRented" hidden>
                </div>
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-rent">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeInfo()">Close</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    <%- include('partials/footer.html') %> 
</body>
</html>