<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.html') %> 
<body>
    <h1><%= message %> </h1>
    <h2><%= error.status %> </h2>
    <%- include('partials/footer.html') %> 
</body>
</html>