<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
        <%- include('partials/header.html') %> 

    <div class="container">
        <div>
            <img src="/images/indexPic.JPG" id="imageIndex" alt="">
            
        </div>
    </div>
    <div class="jumbotron" id="jumbo">
        <h1 class="display-3" id="jumbo-Title">Best Sellers</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <div class="zoom-within-container">
                        <img src="/images/HP1.jpg" alt="zoom" id="imageDis">
                    </div>
                    <p>Harry Potter and the Sorcerers Stone</p>
                    <p><small>J.K. Rowling</small></p>
                    <div id="stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="zoom-within-container">
                    <img src="/images/HP2.jpg" alt="zoom" id="imageDis">
                </div>
                <p>Harry Potter and the Chamber of Secrets</p>
                <p><small>J.K. Rowling</small></p>
                <div id="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="zoom-within-container">
                    <img src="/images/HP3.jpg" alt="zoom" id="imageDis">
                </div>
                <p>Harry Potter and the Prisoner of Azkanban</p>
                <p><small>J.K. Rowling</small></p>
                <div id="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="zoom-within-container">
                    <img src="/images/HP4.jpg" alt="zoom" id="imageDis">
                </div>
                <p>Harry Potter and the Goblet of Fire</p>
                <p><small>J.K. Rowling</small></p>
                <div id="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4"><h2>ALL Books</h2></div>
            <div class="col-md-4"><h2>Rent Book</h2></div>
            <div class="col-md-4"><h2>All Readers</h2></div>
        </div>
        <hr class="my-4">
    </div>
    <div class="jumbotron" id="jumboButtom">
        <h1 class="display-3" id="jumbo-Title">Coming Soon</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <div class="zoom-within-container">
                        <img src="/images/HP5.jpg" alt="zoom" id="imageDis">
                    </div>
                    <p>Harry Potter and the Order of the Phoenix </p>
                    <p><small>J.K. Rowling</small></p>
                    <div id="stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="zoom-within-container">
                    <img src="/images/HP6.jpg" alt="zoom" id="imageDis">
                </div>
                <p>Harry Potter and the Half-Blood Prince</p>
                <p><small>J.K. Rowling</small></p>
                <div id="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="zoom-within-container">
                    <img src="/images/HP7.jpg" alt="zoom" id="imageDis">
                </div>
                <p>Harry Potter and the Deathly Hallows</p>
                <p><small>J.K. Rowling</small></p>
                <div id="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="zoom-within-container">
                    <img src="/images/HP8.jpg" alt="zoom" id="imageDis">
                </div>
                <p>Fantastic Beasts and Where to Find Them</p>
                <p><small>J.K. Rowling</small></p>
                <div id="stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.html') %> 
</body>
</html>