<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
    <%- include('partials/header.html') %>
    <div id="jumboButtom2">
        <h1 class="display-3" id="jumbo-Title">All Reader</h1>
        <hr class="my-4">
    </div>
    <table class="table table-hover">
        <thead>
          <tr class="table-warning">
            <th scope="col">Reader ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <% if (JSON.parse(data).length > 0){
              for(let i in JSON.parse(data)){ %>
                <tr>
                  <th scope="row"><%= JSON.parse(data)[i].idcustomer %></th>
                  <td><%= JSON.parse(data)[i].customerfname %></td>
                  <td><%= JSON.parse(data)[i].customerlname %></td>
                  <td><%= JSON.parse(data)[i].customeremail %></td>
                  <td><%= JSON.parse(data)[i].customerphone %></td>
                  <td>
                    <button type="button" class="btn btn-danger" onclick="deleteCustomer(<%= JSON.parse(data)[i].idcustomer %>)"><i class="fa fa-trash"></i></button>
                    <button type="button"  onclick="editCustomer(<%= JSON.stringify(JSON.parse(data)[i]) %>)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
             <% }
            } else{ %> 
              <tr>
                <td colspan="6">No data available at this moment</td>  
              </tr>
            <% } %>
          </tr>
          
        </tbody>
      </table>

      <div class="modal" id="CustomerEdit">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><h5>Edit Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeEditCustomer()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="ealerts"></div>
              <div>
                  <div>
                      <div class="form-group">
                          <label class="col-form-label col-form-label-lg" >First Name</label>
                          <input class="form-control form-control-lg" type="text" placeholder="Name" id="efname">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label col-form-label-lg" >Last Name</label>
                          <input class="form-control form-control-lg" type="text" placeholder="Last Name" id="elname">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label col-form-label-lg" >Email Address</label>
                          <input class="form-control form-control-lg" type="text" placeholder="Email Address" id="eemail">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label col-form-label-lg" >Phone Number</label>
                          <input class="form-control form-control-lg" type="text" placeholder="Phone Number" id="ephone">
                      </div>
                      <input type="text" id="eidCustomer" hidden>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btn-submit-EditCustomer">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeEditCustomer()">Close</button>
            </div>
          </div>
        </div>
      </div>
    <%- include('partials/footer.html') %> 
</body>
</html>