<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
    <%- include('partials/header.html') %>
    <div id="jumboButtom2">
        <h1 class="display-3" id="jumbo-Title">All Rented</h1>
        <hr class="my-4">
        
    </div>
    <table class="table table-hover">
        <thead>
          <tr class="table-warning">
            <th scope="col">Rent Date</th>
            <th scope="col">Return</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Book Title</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (JSON.parse(data).length > 0){
            for(let i in JSON.parse(data)){ %>
              <tr>
                <td><%= JSON.parse(data)[i].renteddate %></td>
                <td><%= JSON.parse(data)[i].rentedreturn %></td>
                <td><%= JSON.parse(data)[i].customerfname %> <%= JSON.parse(data)[i].customerlname %></td>
                <td><%= JSON.parse(data)[i].booktitle %></td>
                <td>
                  <button type="button" class="btn btn-danger" onclick="deleteRented(<%= JSON.parse(data)[i].idrented %>)"><i class="fa fa-trash"></i></button>
                  <button type="button"  onclick="editRented(<%= JSON.stringify(JSON.parse(data)[i]) %>)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                </td>
              </tr>
           <% }
          } else{ %> 
            <tr>
              <td colspan="6">No data available at this moment</td>  
            </tr>
          <% } %>
          
        </tbody>
      </table>

      <div class="modal" id="editRented">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Rented Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeInfo()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="ealerts"></div>
                <div>
                    <h6>Rent Date</h6>
                    <input type="date" id="erentDate">
                </div>
                <div>
                    <h6>Return Date</h6>
                    <input type="date" id="ereturnDate">
                </div>
                <div>
                    <h6>Reader Name</h6>
                    <div class="input-group">
                      <select class="select2-search__field form-control" aria-label="Default select example" id="ereaderName">
                        <option value="">Choose...</option>
                        <% for(let i in JSON.parse(customers)) {%> 
                            <option value="<%= JSON.parse(customers)[i].idcustomer %>"><%= JSON.parse(customers)[i].customerfname %> <%= JSON.parse(customers)[i].customerlname %></option>
                        <%}%>
                    </select>
                    </div>
                </div>
                <div>
                    <h6>Book Title</h6>
                    <div class="input-group">
                      <select class="select2-search__field form-control" aria-label="Default select example" id="ebookTitle">
                        <option value="">Choose...</option>
                        <% for(let i in JSON.parse(books)) {%> 
                            <option value="<%= JSON.parse(books)[i].idbook %>"><%= JSON.parse(books)[i].booktitle %>  %></option>
                        <%}%>
                    </select>
                    </div>
                    <input type="text" id="eidbookRented" hidden>
                </div>
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-edit-rent">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeInfo()">Close</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    
    <%- include('partials/footer.html') %> 
</body>
</html>