<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %> 
<body>
    <%- include('partials/header.html') %>
    <div id="jumboButtom2">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <h3>
                        Genre
                    </h3>
                    <ul>
                        <% for(let i in JSON.parse(genre)) {%> 
                            <li><%= JSON.parse(genre)[i].bookGenre %></li>
                        <%}%>
                    </ul>
                </div>
                <hr class="my-4">
                <div>
                    <h3>
                        Authors
                    </h3>
                    <ul>
                        <% for(let i in JSON.parse(genre)) {%> 
                            <li><%= JSON.parse(author)[i].bookauthor %></li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div>
                    <h1 class="display-3" id="jumbo-Title">All Books</h1>
                    <hr class="my-4">
                    <div class="row" id="bookShow">
                        <% if (JSON.parse(book).length > 0){
                            for(let i in JSON.parse(book)){ 
                                let image = `/images/bookCover/${JSON.parse(book)[i].bookimg} `%>
                              <div class="col-md-3">
                                <img id="imageDis" src="<%= image %>">
                                <h3><%= JSON.parse(book)[i].booktitle %></h3>
                                <h5><%= JSON.parse(book)[i].bookauthor %></h5>
                                <h6><%= JSON.parse(book)[i].bookGenre %></h6>
                                <td>
                                  <button type="button" class="btn btn-danger" onclick="deleteBook(<%= JSON.parse(book)[i].idbook %>)"><i class="fa fa-trash"></i></button>
                                  <button type="button"  onclick="editBook(<%= JSON.stringify(JSON.parse(book)[i]) %>)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                </td>
                            </div>
                           <% }
                          } else{ %> 
                              <div>No data available at this moment</div>  
                          <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="BookEdit">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><h5>Edit Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeEditBook()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="ealerts"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-lg" >Book Title</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Book Title" id="ebookTitle">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-lg" >Author Name</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Author Name" id="eauthorName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-lg" >Genre</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Genre" id="egenre">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img  width="230px" height="270px" id="eimageBookCover" role="img" >
                        </img>
                        <div class="form-group">
                            <label for="exampleInputFile">Book Cover</label>
                            <input type="file" class="form-control-file" id="efileImage" accept=".jpg, .jpeg, .png" onchange="eloadFile(event)">
                        </div>
                    </div>
                    <input type="text" id="eidbook" hidden>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btn-submit-EditBook">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeEditBook()">Close</button>
            </div>
          </div>
        </div>
      </div>
    <%- include('partials/footer.html') %> 
</body>
</html>