body {
  padding: 50px;
  background-color: papayawhip;
}

a {
  color: #00B7FF;
}

footer{
  background-color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  left:0;
  right: 0;
  position: fixed;
}

#imageIndex{
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#imageCenter{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn-start{
  width: 100%;
}

#jumbo{
  margin-top: 150px;
}

#jumbo-Title{
  text-align: center;
}

#imageDis{
  width: 200px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  margin-top: 10px;
  text-align: center;
}

#stars{
  text-align: center;

}

h2{
  text-align: center;
}

#jumboButtom, #jumboButtom2{
  margin-bottom: 50px;
}

.zoom-within-container {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.zoom-within-container img {
  transition: transform .5s ease;
}
.zoom-within-container:hover img {
  transform: scale(1.5);
}

#jumboButtom2{
  margin-top: 100px;
}

#btn-submit-addBooks, #btn-submit-addCustomers{
  width: 100%;
}

#imageBookCover{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bookShow{
  text-align: center;
}